{{!-- ProductDescription-> SupplementaryInformation or B02,B09 or B10,B11,B12,B13--}}
{{!-- TODO: refactor product-description to remove nested tables while keeping same layout and add root class --}}
{{#each ProductDescription}}
{{#typeOf this 'object'}}
{{!-- ProductDescription-> SupplementaryInformation --}}
{{#ifEqual @key "SupplementaryInformation"}}
  <h3 class="third-level-title">
    {{ i18n "SupplementaryInformation" "otherFields" ../CertificateLanguages }}</h3>
  <table class="main-table">
    <tbody>
      {{#each this}}
      <tr class="table-rows">
        <th class="table-headers" colspan="2">{{@key}} {{Key}}</th>
        <td class="table-cells">{{localizeValue Value Type ../CertificateLanguages.[0]}}
          {{Unit}}
        </td>
        <td class="table-cells">{{Interpretation}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
{{!-- ProductDescription-> B02, B09 or B10,B11,B12,B13--}}
{{else}}
  {{!-- ProductDescription-> B10,B11,B12,B13--}}
  {{!-- TODO: improve Table formatting !! --}}
  {{#in @key "B10,B11,B12,B13"}}
    {{> measurement this CertificateLanguages=../CertificateLanguages }}

  {{!-- ProductDescription-> B02 --}}
{{else}}
  {{#ifEqual @key "B02"}}
  <tr class="table-rows">
    <th class="table-headers">{{@key}}
      {{ i18n @key "certificateFields" ../CertificateLanguages }}
    </th>
    <td class="table-cells"></td>
  </tr>
  {{#each this}}
    <tr class="table-rows">
      <td class="table-cells"><em class="caption">{{ i18n @key "otherFields"
          ../../CertificateLanguages}}
        </em></td>
      <td class="table-cells">{{ join this ", " "" }}</td>
    </tr>
  {{/each}}
{{!-- ProductDescription-> B09--}}
{{else}}
  <tr class="table-rows">
    <th class="table-headers">{{@key}}
      {{ i18n @key "certificateFields" ../CertificateLanguages }}
    </th>
    <td class="table-cells"></td>
  </tr>
{{#each this}}

{{#notIn @key "Unit"}}
  <tr class="table-rows">
    <td class="table-cells"><em class="caption">{{ i18n @key "otherFields" ../../CertificateLanguages
        }}
      </em></td>
    {{#ifEqual @key "Form"}}
        <td class="table-cells">{{ i18n this "otherFields" ../../CertificateLanguages }}</td>
      {{else}}
        <td class="table-cells">{{localizeNumber this ../../CertificateLanguages.[0]}} {{../Unit}}
        </td>
    {{/ifEqual}}
  </tr>
{{/notIn}}
{{/each}}
{{/ifEqual}}
{{/in }}
{{/ifEqual}}
{{!-- ProductDescription-> B01, B03, B04, B05, B06, B07, B08 --}}
{{else}}
{{#if this}}
  <tr class="table-rows">
    <th class="table-headers">{{@key}} {{ i18n @key "certificateFields" ../CertificateLanguages }}
    </th>
    <td class="table-cells">{{this}}</td>
  </tr>
{{/if}}
{{/typeOf}}
{{/each}}
