{{! COMPANIES HEADERS }}

<ol>
  {{#if CompanyName}}
    <li>
      <h3>{{CompanyName}}</h3>
    </li>
  {{/if}}
  {{#if Name}}
    <li>
      <h3>{{Name}}</h3>
    </li>  {{/if}}
  {{#if Street}}
    {{#typeOf Street 'string'}}
      <li>{{Street}}</li>
    {{/typeOf}}
    {{#typeOf Street 'object'}}
      {{#each Street}}
        <li>{{this}}</li>
      {{/each}}
    {{/typeOf}}
  {{/if}}
  <li>{{ZipCode}},
    {{City}},
    {{Country}}</li>
  {{#if Email}}
    <li>{{Email}}</li>
  {{/if}}
</ol>