{{! COMPANIES HEADERS }}

<ol>
	{{#if CompanyName}}
		<li>{{CompanyName}}</li>
	{{/if}}
	{{#if Name}}
		<li>{{Name}}</li>
	{{/if}}
	{{#if Street}}
		<li>{{Street}}</li>
	{{/if}}
	{{#if AddressLine1}}
		<li>{{AddressLine1}}</li>
	{{/if}}
	{{#if AddressLine2}}
		<li>{{AddressLine2}}</li>
	{{/if}}
	<li>{{ZipCode}},
		{{City}},
		{{Country}}</li>
	{{#if Email}}
		<li>{{Email}}</li>
	{{/if}}
</ol>